.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1000px;
    width: calc(100vw - 50px);
    margin-left: 50%;
    transform: translateX(-50%);
    min-height: 400px;
}
.content {
    text-align: center;

    &__header {
        font-family: 'MotivaSansMedium', sans-serif;
        font-size: 32px;
        color: #fff;
        @media (min-width: 0px) {
            font-size: 28px;
        }

        @media (min-width: 376px) {
            font-size: 30px;
        }

        @media (min-width: 400px) {
            font-size: 32px;
        }
    }
    &__browse {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 25px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 17px;
        color: #fff;
        min-width: 200px;
        padding: 10px 20px;
        background-color: #161616;
        border-radius: 16px;
        transition: all linear 90ms;
        &:hover {
            color: #007acc;
        }
        &:active {
            color: #005d9b;
        }
        &::content {
            width: calc(100vw - 50px);
        }
        @media (min-width: 0px) {
            font-size: 16px;
            max-width: 280px;
            min-width: 280px;
        }

        @media (min-width: 376px) {
            font-size: 17px;
            max-width: calc(100vw - 100px);
            min-width: 300px;
        }
    }
    &__size {
        margin-top: 8px;
        color: #292929;
        font-family: 'MotivaSansRegular', sans-serif;
        font-size: 17px;
    }
    &__upload {
        margin-top: 16px;
        font-family: 'MotivaSansRegular', sans-serif;
        font-size: 17px;
        color: #fff;
        width: 210px;
        padding: 10px 0;
        background-color: #007acc;
        border-radius: 16px;
        margin-left: 50%;
        transform: translateX(-50%);
        transition: all linear 90ms;
        cursor: pointer;
        &:hover {
            background-color: #005d9c;
        }
        &:active {
            background-color: #00497a;
        }
    }
}

.highlight {
    color: #007acc;
}
