.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 1000px;
    margin-left: 50%;
    transform: translateX(-50%);
    min-height: 400px;
}
.id {
    position: absolute;
    top: 56px;
    left: -2px;
    color: #292929;
    font-family: 'MotivaSansRegular', sans-serif;
    font-size: 17px;
}
.content {
    text-align: center;

    &__header {
        font-family: 'MotivaSansMedium', sans-serif;
        font-size: 32px;
        color: #fff;
    }
    &__browse {
        margin-top: 25px;
        font-family: 'MotivaSansRegular', sans-serif;
        font-size: 17px;
        color: #007acc;
        min-width: 380px;
        padding: 10px 20px;
        background-color: #161616;
        border-radius: 16px;
    }
    &__size {
        margin-top: 8px;
        color: #292929;
        font-family: 'MotivaSansRegular', sans-serif;
        font-size: 17px;
    }
}

.highlight {
    color: #007acc;
}
